body {
    background-color: rgb(255, 255, 255);
    font-family: 'Merriweather', sans-serif;
    font-size: 16px; /* Sets the font size to 16px */
    font-weight: 300; /* Sets the font weight to 300 */
    line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
    color: #000000;
  }

  img {
    width: 100%;
  }

  .merriweather-light {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .merriweather-regular {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .merriweather-bold {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .merriweather-black {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .merriweather-light-italic {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .merriweather-regular-italic {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .merriweather-bold-italic {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .merriweather-black-italic {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: italic;
  }
  
  h1, h2, h3, h4 {
    line-height: 1.4;
  }
  h1 {
    font-size: 4.25em;
    font-weight: 700;
  }
  
  h2 {
    font-size: 3.43em;
    font-weight: 700;
  }
  
  h3 {
    font-size: 2.43m;
    font-weight: 400;
  }
  h4 {
    font-size: 1.43em;
    font-weight: 400;
  }

 a {
    color: rgb(128, 34, 34);
    text-decoration: none; /* No underlining */
  }
  a:visited {
    color: #000000;
  }
  a:hover {
    color: #616161;
    text-decoration: underline; /* Underlining when hovering over a link */
  }
  a:active { /* selected link */
    color: #000000;
  }
  a:hover,
a:focus {
  color: #616161;
  text-decoration: underline;
}

.button {
    display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
    background-color: rgb(128, 34, 34);
    color: #ffffff; /* needed to override the default link color */
    font-weight: 400;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid #000000; /* width of the border, type, color */
    transition: 0.2s opacity;
  }
  .button:hover {
    opacity: 0.8; /* Reduces the opacity of the button to 80% */
    text-decoration: none;
  }
  .button.contact {
    background-color: transparent;
    color: rgb(128, 34, 34);
    text-transform: uppercase;
    border: 2px solid #000000;
  }
  .button.contact:hover {
    background-color: rgb(128, 34, 34);
    color: #ffffff;
  }