/* Layout styling */

main {
  padding-top: 51.17px;
}

.container {
  padding: 0 15px;
}

* {
  box-sizing: border-box;
}

.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

#hero h1 {
  text-align: center; /* Centers text */
}

.logo {
  max-width: 150px;
}

nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}

nav > ul > li > a:visited {
  color: #000000;
}

nav > ul > li > a:hover {
  color: #616161;
}

nav > ul > li > a:active {
  color: #000000;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
  padding-right: 0;
}

.navtoggle.responsive li  {
  display: block;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}
.navtoggle.responsive li  {
  display: block;
  padding: 10px 0;
  border-top: 1px solid rgb(128, 34, 34);
}

.navtoggle.responsive li:last-child  {
  padding: 0 0 10px;
}

#hero {
  background-color: #ffffff;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
  text-align: center;
}

#hero span {
  display: block;
}

body {
    background-color: rgb(255, 255, 255);
    font-family: 'Merriweather', sans-serif;
    font-size: 16px; /* Sets the font size to 16px */
    font-weight: 300; /* Sets the font weight to 300 */
    line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
    letter-spacing: -0.02em;
    color: #000000;
}

header {
    background-color: #c0c0c0;
    padding: 10px 0;
    margin: 0px;
    border-bottom: 1px solid #4a4a4a;
    position: fixed;
    width: 100%;
    background: #c0c0c0; 
    border: solid #BDBDBD 3px; 
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5)  ; 
    -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5)  ; 
    -moz-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5)  ; 
}

footer {
  background-image: linear-gradient(white, gray)
}
  
  img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

  .merriweather-light {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .merriweather-regular {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .merriweather-bold {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .merriweather-black {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .merriweather-light-italic {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .merriweather-regular-italic {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .merriweather-bold-italic {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .merriweather-black-italic {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: italic;
  }
  
  h1, h2, h3, h4 {
    line-height: 1.4;
  }

  h1 {
    font-size: 4.25em;
    font-weight: 700;
  }
  
  h2 {
    font-size: 3.43em;
    font-weight: 700;
  }
  
  h3 {
    font-size: 2.43m;
    font-weight: 400;
  }
  h4 {
    font-size: 1.43em;
    font-weight: 400;
}

 a {
    color: rgb(128, 34, 34);
    text-decoration: none; /* No underlining */
  }
  a:visited {
    color: #B1B1B1;
  }
  a:hover {
    color: #616161;
    text-decoration: underline; /* Underlining when hovering over a link */
  }
  a:active { /* selected link */
    color: #ffffff;
  }
  a:hover,
a:focus {
  color: #616161;
  text-decoration: underline;
}

.button {
    display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
    background-color: rgb(112, 0, 0);
    color: #ffffff; /* needed to override the default link color */
    font-weight: 400;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid #000000; /* width of the border, type, color */
    transition: 0.2s opacity;
  }
  .button:hover {
    opacity: 0.8; /* Reduces the opacity of the button to 80% */
  }
  .button.contact {
    background-color: transparent;
    color: rgb(128, 34, 34);
    text-transform: uppercase;
    border: 2px solid #000000;
  }
  .button.contact:hover {
    background-color: rgb(112, 0, 0);
    color: #ffffff;
  }

  @media only screen and (min-width: 640px) {
    header {
      text-align: unset;
      padding: 20px 0 13px;
    }
  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  nav > ul {
    list-style-type: none;
    padding: 0;
    margin: 1em 0;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }
  .navtoggle li:last-child {
    display: none;
  }

  .col-md-6 {
    width: 50%;
  }
  
  [class*="col-"] {
    float: left;
    padding: 10px;
  }
  #about-page h3 { margin-top: 0;}
}
  
  @media only screen and (min-width: 1024px) {
    main {
      padding-top: 108.02px;
    }

    .container {
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
    }
    
    header {
      text-align: unset;
      padding: 20px 0 13px;
    }

    .logo {
      max-width: 300px;
    }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  nav > ul {
    list-style-type: none;
    padding: 0;
    margin: 1em 0;
  }

nav > ul > li {
  display: inline-block;

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }
  .navtoggle li:last-child {
    display: none;
  }

  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-7 {
    width: 58.33%;
  }

  [class*="col-"] {
    float: left;
  }
  #about-page h3 { margin-top: 0;}
  }
}